<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/listIndex.css">
  <div class="container">
    <% for(let item of listings) {%>
      <div class="card p-2 myCard">
        <!-- <img src="<%= item.image %>" alt="<%= item.title %>"> -->
        <div class="card-content">
          <div class="colorBg mt-0">
          <div class="card-title myDate">Date</div>
          <div class="card-title myTitle"><%= item.title %></div>
          <div class="card-description myDesc"><%= item.description %></div>
          <h6 class="card-subtitle mb-2 text-muted cardCategory"><%=item.category%></h6>
          </div>
           
            <a href="/listings/<%=item._id%>"> 
            <button class="btn myButton">See Details</button>
        </a>
        </div>
        
      </div>
    <% }; %>
  </div>

