<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/listIndex.css">
  <div class="container">
    <% for(let item of listings) {%>
      <div class="card">
        <!-- <img src="<%= item.image %>" alt="<%= item.title %>"> -->
        <div class="card-content">
          <div class="card-title"><%= item.title %></div>
          <div class="card-description"><%= item.description %></div>
          <h6 class="card-subtitle mb-2 text-muted"><%=item.category%></h6>
           
            <a href="/listings/<%=item._id%>"> 
            <button class="btn btn-primary">See Details</button>
        </a>
          
        </div>
      </div>
    <% }; %>
  </div>

