<% layout('layouts/boilerplate')%>
<h1> Detalils of vacancy</h1>
<h2><%= listing.title %></h2>
<h3><%= listing.category %></h3>
<p><%= listing.skillSetReq %></p>
<p><%= listing.skillSetHave %></p>
<p><%= listing.description %></p>
